
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Disfruta de una experiencia navideña única con Astro. Diseño festivo, responsivo y optimizado para SEO." />
    <meta name="keywords" content="Navidad, Astro, Plantilla, Festivo, Diseño web" />
    <meta name="author" content="Tu Nombre o Equipo" />
    <link rel="icon" href="/favicon.ico" />
    <title>Navidad Astro</title>
  </head>
  <body class="bg-light text-dark w-full h-full">
    <main id="content" tabindex="-1" class="container-fluid mx-auto">
      <slot />
    </main>
  </body>
</html>
